@model IEnumerable<HealthCite.Domain.Entities.Citas>
@{
    ViewData["Title"] = "HealthCite-CitasPanel";
    Layout = "_LayoutForPanel";
}
<div class="container-fluid">
    <h1 class="mt-4 text-center">CITAS RESERVADAS</h1>
    
    <br />

    <div class="bg-dark w-100 p-3 border-3 border rounded-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-light text-center" scope="col">NOMBRE</th>
                    <th class="text-light text-center" scope="col">FECHA DE RESERVACION</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-light text-center"><a class="nav-link" asp-action="AppointmentDetails" asp-route-id="@item.Id">@item.Nombre</a></td>
                            <td class="text-light text-center">@item.FechaCita</td>
                        </tr>
                    }
                }
                
            </tbody>
        </table>
    </div>
    
    <br />
    <br />

</div>
