@{
    ViewData["Title"] = "HealthCite-CitasPanel";
    Layout = "_LayoutForPanel";
}
<div class="container-fluid">
    <h1 class="mt-4 text-center">CITAS RESERVADAS</h1>
    
    <br />

    <div class="bg-dark w-100 p-3 border-3 border rounded-3">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-light text-center" scope="col">NOMBRE</th>
                    <th class="text-light text-center" scope="col">FECHA DE RESERVACION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-light text-center"><a asp-action="AppointmentDetails">Mark</a></td>
                    <td class="text-light text-center">18-06-2024</td>
                </tr>
                <tr>
                    <td class="text-light text-center"><a asp-action="AppointmentDetails">Otto</a></td>
                    <td class="text-light text-center">20-06-2024</td>
                </tr>
                <tr>
                    <td class="text-light text-center"><a asp-action="AppointmentDetails">Mdo</a></td>
                    <td class="text-light text-center">25-06-2024</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br />
    <br />

</div>
