@model HealthCite.Web.ViewModels.Citas.CreateCita
@{
    ViewData["Title"] = "HealthCite-FormCite";
    Layout = "_LayoutWithHeader";
}

<div class="container-fluid bg-white w-50 p-3 border-3">
    <div class="text-center">
        <h2 class="pt-3">AGENDE SU CITA MEDICA</h2>
        <h6 class="fw-normal">¡INSERTANDO LOS DATOS SOLICITADOS!</h6>
        <hr class="border border-warning border-3 opacity-75">
    </div>
    <form class="container" asp-controller="Home" asp-action="Index" method="post">
        <div class="mb-4">
            <label asp-for="Nombre">NOMBRE:</label>
            <input asp-for="Nombre" class="form-control" type="text" placeholder="Ingrese su nombre" required>
        </div>
        
        <div class="mb-4">
        <label asp-for="FechaNacimiento">FECHA DE NACIMIENTO:</label>
        <input asp-for="FechaNacimiento" class="form-control" type="date" required>
        </div>

        <div class="mb-4">
            <label>GENERO:</label>
            <select asp-for="GeneroId" class="form-select form-select-lg mb-3" asp-items="ViewBag.Generos">
                <option>-- seleccione un genero --</option>
            </select>
        </div>
        
        <div class="mb-4">
        <label asp-for="CorroElectronico">CORREO ELECTRONICO:</label>
        <input asp-for="CorroElectronico"  class="form-control" type="email" placeholder="Introduzca su correo electronico" required>
        </div>

        <div class="mb-4">
            <label>CONSULTORIO A VISITAR:</label>
            <select asp-for="ConsultorioId" class="form-select form-select-lg mb-3" asp-items="ViewBag.Consultorios">
                <option>-- seleccione un departamento --</option>
            </select>
        </div>

        <div class="mb-4">
        <label asp-for="FechaCita">FECHA DE RESERVACION:</label>
        <input asp-for="FechaCita"  class="form-control" type="date" required>
        </div>

        <div class="mb-4">
            <div class="form-floating">
                <textarea asp-for="Motivo" class="form-control" placeholder="Leave a comment here"></textarea>
                <label asp-for="Motivo">MOTIVO:</label>
            </div>
        </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <input class="form-control btn-warning fw-bold" type="submit" value="ENVIAR" name="submit" />
            </div>
    </form>
</div>
<br />

