@{
    ViewData["Title"] = "HealthCite-FormCite";
    Layout = "_LayoutWithHeader";
}

<div class="container-fluid bg-white w-50 p-3 border-3">
    <div class="text-center">
        <h2 class="pt-3">AGENDE SU CITA MEDICA</h2>
        <h6 class="fw-normal">¡INSERTANDO LOS DATOS SOLICITADOS!</h6>
        <hr class="border border-warning border-3 opacity-75">
    </div>
    <form class="container">
        <div class="mb-4">
            <label for="name">NOMBRE:</label>
            <input class="form-control" type="text" id="name" placeholder="Ingrese su nombre" name="name" required>
        </div>
        
        <div class="mb-4">
        <label for="date">FECHA DE NACIMIENTO:</label>
        <input class="form-control" type="date" id="date" name="datebirh" required>
        </div>

        <div class="mb-4">
            <label for="generate">GENERO:</label>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
        </div>
        
        <div class="mb-4">
        <label for="email">CORREO ELECTRONICO:</label>
        <input class="form-control" type="email" id="email" name="email" placeholder="Introduzca su correo electronico" required>
        </div>

        @* 
        <div class="mb-4">
        <label for="address">DIRECCION POSTAL:</label>
        <input class="form-control" type="text" id="address" name="address" required>
        </div> 
        *@

        <div class="mb-4">
            <label for="departament">CONSULTORIO A VISITAR:</label>
            <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                <option selected>Seleccione el departamento</option>
                <option value="1">One</option>
                <option value="2">Two</option>
            </select>
        </div>

        <div class="mb-4">
        <label for="date">FECHA DE RESERVACION:</label>
        <input class="form-control" type="date" id="date" name="datarequest" required>
        </div>

        <div class="mb-4">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">MOTIVO:</label>
            </div>
        </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <input class="form-control btn-warning fw-bold" type="submit" value="ENVIAR" name="submit" />
            </div>
    </form>
</div>
<br />

